:root {
    --shadowBlauw: #2699FB;
    --middelBlauw: #BCE0FD;
    --lichtBlauw: #F1F9FF;
    --wit: #ffffff;
    --zwart: #000000;
    --grijs: #707070;
    --hoofdTitel: 2em;
    --subTitel: 1.5em;
    --leesTekst: 1em;
}

body {
    background-color: var(--wit);
}

h1 {
    position: absolute;
    margin-top: 5em;
    margin-left: 52%;
    margin-right: 10em;
    color: var(--shadowBlauw);
    font-size: var(--hoofdTitel);
}

p {
    position: absolute;
    display: inline-block;
    margin-left: 52%;
    margin-right: 15em;
    margin-top: 14em;
    color: var(--grijs);
    font-size: var(--leesTekst);
}

div {
    position: absolute;
    margin-left: 52%;   
    margin-top: 22em;
}

#subKnop {
    margin-left: 2em;
}

article {
    position: absolute;
    width: 10em;
    height: 18em;
    margin-top: 10.5em;
}

article img {
    position: absolute;
    width: 10em;
    height: 10em;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

article h2 {
    position: absolute;
    margin-top: 7em;
    left: 0;
    right: 0;
    text-align: center;
    font-size: var(--subTitel);
    color: var(--shadowBlauw);
}

article p {
    position: absolute;
    margin: 0;
    margin-top: 15em;
    left: 0;
    right: 0;
    text-align: center;
}

#persoon1 {
    margin-left: 4em;
}

#persoon2 {
    margin-left: 16em;
}

#persoon3 {
    margin-left: 28em;
}
