:root {
    --lichtPaarsBlauw: #566FB3;
    --PaarsBlauw: #2F4EA4;
    --Oranje: #EEBC32;
    --donkerBlauw: #2699FB;
    --middelBlauw: #BCE0FD;
    --lichtBlauw: #F1F9FF;
    --wit: #ffffff;
    --zwart: #000000;
    --donkerGrijs: #707070; /* placeholders in inputs */
    --lichtGrijs: #C4C4C4; /* shadow for inputs */
    --Snow: #F1F1F1; /* borders van inputs, net niet volledig wit*/
    --hoofdTitel: 2rem;
    --subTitel: 1.5rem;
    --leesTekst: 1rem;
}

img {
    max-width: 100%;
    display: inline-block;
    margin-bottom: 2em;
}


p {
    color: var(--Snow);
    font-size: var(--leesTekst);
}

.center {
    margin: 6.9em auto;
    width: 19.5em;
    padding: 1.5em;
    position: relative;
    background: none;
    overflow: hidden;
    transition: ease margin .5s, ease opacity .5s;
}
