:root {
    /* kleuren */
    --lichtPaarsBlauw: #566FB3;
    --PaarsBlauw: #2F4EA4;
    --Oranje: #EEBC32;
    --donkerBlauw: #2699FB;
    --middelBlauw: #BCE0FD;
    --lichtBlauw: #F1F9FF;
    --wit: #ffffff;
    --zwart: #000000;
    --donkerGrijs: #707070; /* placeholders in inputs */
    --lichtGrijs: #C4C4C4; /* shadow for inputs */
    --Snow: #F1F1F1; /* borders van inputs, net niet volledig wit*/
    --borderGrijs: #F1F1F1;

    /* afstanden */
    --hoofdTitel: 2rem;
    --subTitel: 1.5rem;
    --leesTekst: 1rem;
}

img {
    position: relative;
    width: 100%;
    height: 8em;
}

form {
    width: 25em;
    height: 100em;
    margin-bottom: 10em;
}

h1, h2 {
    color: var(--donkerBlauw);
    font-size: var(--leesTekst);
    font-weight: 100;
    margin-top: 0em;
    display: inline;
}

h2 {
    margin-left: 3.7em;
}

#hoofdKnop {
    margin-left: 9.5em;
}

div {
    margin-top: 0em;
}

.kindLabel {
    color: var(--grijs);
    margin: 0em;
    display: inline;
    padding: 0.5em 2em;
    box-shadow: 0px 3px 0px #C4C4C4;
    border: 1px solid #F1F1F1;
    margin-top: -1em;
    background-color: var(--wit);
}

.kindLabel[for="kind1"], .kindLabel[for="kind2"], .kindLabel[for="kind3"] {
    margin-left: -0.5em;
}

.kindInput {
    opacity: 0;
    margin: 0em;
    margin-top: -1em;
    width: 0em;
    display: inline;
}

.kindInput:checked ~ label {
    background-color: var(--donkerBlauw);
    box-shadow: 0px 3px 0px #2699FB;
    border: none;
    color: var(--Snow);
}

.kindLabel:hover {
    opacity: .9;
}
.kindLabel[for="kind0"]{
    border-radius: 5px 0px 0px 5px;
}

.kindLabel[for="kind3"]{
    border-radius: 0px 5px 5px 0px;
}


/* #formOverig, #formVasteLasten {
    visibility: hidden;
} */



fieldset {
    position: absolute;
    margin-top: -1em;
    width: 78%;
}

.form-box {
    margin: 6.9em auto;
    width: 28em;
    padding: 1.5em;
    position: relative;
    background: none;
    overflow: hidden;
    transition: ease margin .5s, ease opacity .5s;
}